instance_name: cpcd_bringup
bus_type: UART
uart_device_file: /tmp/ttyCpcRcp
uart_device_baud: 115200
uart_hardflow: true
disable_encryption: true
binding_key_file: /home/jnilo/.cpcd/binding.key
stdout_trace: false
trace_to_file: false
traces_folder: /run/user/1000/rcp-stack/traces
socket_folder: /dev/shm/cpcd/cpcd_bringup
