[Unit]
Description=Zigbee2MQTT (user)
Requires=socat-zigbeed-pty.service zigbeed.service
After=socat-zigbeed-pty.service zigbeed.service
StartLimitIntervalSec=30s
StartLimitBurst=5

[Service]
Type=simple
Environment=Z2M_PTY=/tmp/ttyZ2M
EnvironmentFile=-%h/.config/rcp-stack/rcp-stack.env
ExecStartPre=%h/.config/rcp-stack/bin/rcp-wait-pty /tmp/ttyZ2M
ExecStartPre=%h/.config/rcp-stack/bin/rcp-wait-active zigbeed.service
ExecStartPre=%h/.config/rcp-stack/bin/rcp-check-command Z2M_COMMAND
ExecStart=%h/.config/rcp-stack/bin/rcp-run-command Z2M_COMMAND
ExecStopPost=%h/.config/rcp-stack/bin/rcp-cleanup --symlink /tmp/ttyZ2M
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
